.menu {
  background: #161932;
  margin: 45px 24px;

  max-width: 373px;

  border-radius: 31px;

  .menuList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 6px;

    @media (min-width: 426px) {
      .listItem {
        font-size: 14px;
      }
    }
  }
}
