.menu {
  background: #161932;
  margin: 45px 24px;

  max-width: 373px;

  border-radius: 31px;

  .menuList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 6px;

    .listItem {
      padding: 18px 23px;
      color: #d7e0ff;
      font-family: "Kumbh Sans", sans-serif;
      font-size: 12px;
      flex-shrink: 0;

      &.active {
        background: #f87070;
        color: #1e213f;
        border-radius: 26px;
      }

      &:hover {
        cursor: pointer;
      }
    }

    @media (min-width: 426px) {
      .listItem {
        font-size: 14px;
      }
    }
  }
}
