.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #EFF1FA;
  padding: 5px 16px;
  width: 140px;
  border-radius: 10px;
  margin-bottom: 8px;
  font-size: 14px;

  .arrows {
    display: flex;
    flex-direction: column;
  }

  .increment, .decrement {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}