.progress {
  display: flex;
  align-items: center;

  position: absolute;

  circle {
    stroke-dasharray: 1005;
  }


  @media (min-width: 425px) {
    width: 370px;
    height: 370px;

    circle {
      stroke-width: 7px;
    }
  }
}
