.color,
.font {
  border-top: 1px solid #e3e1e1;
}

.colorStyles {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 152px;
  gap: 16px;
  margin: 18px auto;

  .colorStyle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &:nth-child(1) {
      background: #f87070;
    }

    &:nth-child(2) {
      background: #70f3f8;
    }

    &:nth-child(3) {
      background: #d881f8;
    }

    &.active {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        display: inline-block;
        top: 0;
        left: 0;
        background: url("../../../assets/check.svg") no-repeat center;
      }
    }
  }
}
